nav.menu-mob
  ul.menu-mob-list
        li 
          a(href="#")
              | Активация
        li
          a(href="#")
              | Моя страница
        li
          a(href="#")
              | Новости
        li
          a(href="#")
              | Сообщения
        li
          a(href="#")
              | Топ-Лидеры
        li
          a(href="#")
              | Друзья

        li
          a(href="#")
              | Видеозаписи

        li
          a(href="#")
              | Фотогалерея
        li
          a(href="#")
              | Музыка
        li
          a(href="#")
              | Развлечения
        li
          a(href="#")
              | Реклама

        li
          a(href="#")
              | Настройки
        li
          a(href="#")
              | Support
        li
          a(href="#")
              | Выход