header.header
	.container-fluid
		.header__inner
			.row.header__inner__row
				.col.header__left
					.header__left__inner
							.header__bg
								img(src="images/header-bg.svg", alt="")

							.header__left__content
								.logo
									a(href="/")
										img(src="images/logo.png", srcset="images/logo@2x.png 2x" alt="")

								.header-mail
									a(href="#").header-mail__icon
										img(src="images/icon/mail.svg", alt="")
									.header-mail__num.box-bd
										| 3
							button.navbar-toggler
								span.navbar-toggler__inner
									span
									span
									span
								span.navbar-toggler__text
									| menu

											
				.col.header__right
						
							nav.main-nav
								ul.main-nav__list
									li
										a(href="#") Пополнение
									li
										a(href="#") Перевод
									li
										a(href="#") Вывод
									li
										a(href="#") Маркетинг
									li
										a(href="#") Webinar
									li
										a(href="#") Биржа
									li
										a(href="#") SMM программы
									li
										a(href="#") Копилка