extends pug/base

append vars
	-
		var activeGrid = new Array(10);

block content
	.main-wrap
		//- .site__layer
		include pug/header

		main.main
			.container-fluid
				.main-container.main-container_left-sidebar
					.sidebar.left-sidebar
						.sidebar__inner
							ul.category-nav
								li 
									a(href="#")
										span.icon
											img(src="images/icons/ico-1.png", srcset="images/icons/ico-1@2x.png 2x" alt="")
										span.link
											| Активация
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-2.png", srcset="images/icons/ico-2@2x.png 2x" alt="")
										span.link
											| Моя страница
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-3.png", srcset="images/icons/ico-3@2x.png 2x" alt="")
										a(href="#")
											| Новости
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-4.png", srcset="images/icons/ico-4@2x.png 2x" alt="")
										span.link
											| Сообщения
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-5.png", srcset="images/icons/ico-5@2x.png 2x" alt="")
										a(href="#")
											| Топ-Лидеры
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-6.png", srcset="images/icons/ico-6@2x.png 2x" alt="")
										span.link
											| Друзья

								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-7.png", srcset="images/icons/ico-7@2x.png 2x" alt="")
										span.link
											| Видеозаписи

								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-8.png", srcset="images/icons/ico-8@2x.png 2x" alt="")
										span.link
											| Фотогалерея
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-9.png", srcset="images/icons/ico-9@2x.png 2x" alt="")
										a(href="#")
											| Музыка
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-10.png", srcset="images/icons/ico-10@2x.png 2x" alt="")
										span.link
											| Развлечения
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-11.png", srcset="images/icons/ico-11@2x.png 2x" alt="")
										span.link
											| Реклама

								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-12.png", srcset="images/icons/ico-12@2x.png 2x" alt="")
										a(href="#")
											| Настройки
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-13.png", srcset="images/icons/ico-13@2x.png 2x" alt="")
										span.link
											| Support
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-14.png", srcset="images/icons/ico-14@2x.png 2x" alt="")
										span.link
											| Выход

					.main-content.main-content_center
						.form-regist.panel
							.form-regist-decor-item.form-regist-decor__top
								img(src="images/decor/decor-form-regist__top.png", alt="")
							.form-regist-decor-item.form-regist-decor__bottom
								img(src="images/decor/decor-form-regist__top.png", alt="")


							.decor-corner.form-regist-left-top-corner
								img(src="images/corner/form-profile-left-top.svg", alt="")
							.decor-corner.form-regist-right-top-corner
								img(src="images/corner/form-profile-right-top.svg", alt="")
							.decor-corner.form-regist-left-bottom-corner
								img(src="images/corner/form-profile-left-bottom.svg", alt="")
							.decor-corner.form-regist-right-bottom-corner
								img(src="images/corner/form-profile-right-bottom.svg", alt="")

							.bd-hor.form-regist-top-border
							.bd-vert.form-regist-left-border
							.bd-vert.form-regist-right-border
							.bd-hor.form-regist-bottom-border


							form(action="#")
								.form-regist__top
									.row
										.col-12 
											input(type="file", name="filepond" ).regist-form__bg.file-upload.my-pond
											//- добавьте фото обложки
										.col-xl-4.form-regist__left 
											input(type="file", name="filepond", ).regist-form__foto.file-upload.my-pond-2
										.col-xl-8.form-regist__right
											.row
												.col-sm-6
													.form-group
														input.form-control(type="text" placeholder="ВВедите имя")
												.col-sm-6
													.form-group
														input.form-control(type="text" placeholder="ВВедите фамилию")
												.col-sm-6
													.form-group
														input.form-control(type="text" placeholder="город")
												.col-sm-6
													.form-group
														input.form-control(type="text" placeholder="Телефон")
												.col-sm-6
													.form-group
														input.form-control(type="text" placeholder="e-mail")
												.col-sm-6
													.form-group
														button.btn.btn-xl.regist-form__btn.btn-block
															| Сохранить

								.form-regist__bottom
									h3.form-regist__bottom__title.text-md
										| ДОПОЛНИТЕЛЬНАЯ ИФОРМАЦИЯ О СЕБЕ:
									textarea.form-control.form-regist__textarea(placeholder="в данном блоке человек указывает дополнительную информацию о себе, о своих увлечениях которая будет выводиться в его анкете.")
						

					.sidebar.right-sidebar
						.sidebar__inner

							.news-panel.news-panel-form
								h2.news-panel__title.text-md
									| Актуальные акции или важные новости:

								.news-panel__inner


									.decor-corner.news-panel-left-top-corner
										img(src="images/corner/news-panel-left-top.svg", alt="")
									.decor-corner.news-panel-right-top-corner
										img(src="images/corner/news-panel-left-top.svg", alt="")
									.decor-corner.news-panel-left-bottom-corner
										img(src="images/corner/news-panel-left-top.svg", alt="")
									.decor-corner.news-panel-right-bottom-corner
										img(src="images/corner/news-panel-right-bottom.svg", alt="")

									.bd-hor.news-panel-top-border
									.bd-vert.news-panel-left-border
									.bd-vert.news-panel-right-border
									.bd-hor.news-panel-bottom-border

									.news-box.box-bd
										h3.news-box__title.text-md
											| МЕСЯЦ про аккаунта в подарок

										a(href="#").btn.btn-xl.news-box__btn
											| ПОДРОБНЕЕ

									.news-box.box-bd
										h3.news-box__title.text-md
											| НОВЫЙ ЛИДЕР
										a(href="#").btn.btn-xl.news-box__btn
											| ПОДРОБНЕЕ



				.sidebars-mobile.row
					.col-6
						.sidebar-mob-panel.sidebar-mob_news.box-bd
							.sidebar-mob-toggle
								span
							.sidebar-mob-panel__inner
								.news-box.box-bd
									h3.news-box__title.text-md
										| МЕСЯЦ про аккаунта в подарок

									a(href="#").btn.btn-xl.news-box__btn
										| ПОДРОБНЕЕ

								.news-box.box-bd
									h3.news-box__title.text-md
										| НОВЫЙ ЛИДЕР
									a(href="#").btn.btn-xl.news-box__btn
										| ПОДРОБНЕЕ

								.news-box.box-bd
									h3.news-box__title.text-md
										| НОВЫЙ ЛИДЕР
									a(href="#").btn.btn-xl.news-box__btn
										| ПОДРОБНЕЕ

					.col-6
						.d-flex.justify-content-end
							.sidebar-mob-panel.sidebar-mob_profiles.profiles-mob.box-bd
								.sidebar-mob-toggle
									span
								.sidebar-mob-panel__inner
									h2.profiles-mob__title
										| Топ-Лидеры
									ul.profiles-mob__list
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
									.profiles-mob__view
										a(href="#")
											| Посмотреть всех



		include pug/footer    