extends pug/base

append vars
	-
		var activeGrid = new Array(10);

block content
	.main-wrap
		//- .site__layer
		include pug/header

		main.main
			.container-fluid
				.main-container.main-container_left-sidebar
					.sidebar.left-sidebar
						.sidebar__inner
							ul.category-nav
								li 
									a(href="#")
										span.icon
											img(src="images/icons/ico-1.png", srcset="images/icons/ico-1@2x.png 2x" alt="")
										span.link
											| Активация
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-2.png", srcset="images/icons/ico-2@2x.png 2x" alt="")
										span.link
											| Моя страница
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-3.png", srcset="images/icons/ico-3@2x.png 2x" alt="")
										a(href="#")
											| Новости
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-4.png", srcset="images/icons/ico-4@2x.png 2x" alt="")
										span.link
											| Сообщения
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-5.png", srcset="images/icons/ico-5@2x.png 2x" alt="")
										a(href="#")
											| Топ-Лидеры
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-6.png", srcset="images/icons/ico-6@2x.png 2x" alt="")
										span.link
											| Друзья

								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-7.png", srcset="images/icons/ico-7@2x.png 2x" alt="")
										span.link
											| Видеозаписи

								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-8.png", srcset="images/icons/ico-8@2x.png 2x" alt="")
										span.link
											| Фотогалерея
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-9.png", srcset="images/icons/ico-9@2x.png 2x" alt="")
										a(href="#")
											| Музыка
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-10.png", srcset="images/icons/ico-10@2x.png 2x" alt="")
										span.link
											| Развлечения
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-11.png", srcset="images/icons/ico-11@2x.png 2x" alt="")
										span.link
											| Реклама

								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-12.png", srcset="images/icons/ico-12@2x.png 2x" alt="")
										a(href="#")
											| Настройки
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-13.png", srcset="images/icons/ico-13@2x.png 2x" alt="")
										span.link
											| Support
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-14.png", srcset="images/icons/ico-14@2x.png 2x" alt="")
										span.link
											| Выход
							.news-panel
								h2.news-panel__title.text-md
									| Актуальные акции или важные новости:

								.news-panel__inner.panel
									.news-box.box-bd
										h3.news-box__title.text-md
											| МЕСЯЦ про аккаунта в подарок

										a(href="#").btn.btn-xl.news-box__btn
											| ПОДРОБНЕЕ

									.news-box.box-bd
										h3.news-box__title.text-md
											| НОВЫЙ ЛИДЕР
										a(href="#").btn.btn-xl.news-box__btn
											| ПОДРОБНЕЕ

					.main-content.main-content_center


						.profile-detail-wrap
							.container_712
								.decor-large
									.decor-large__top.decor-large-item
										img(src="images/decor/top-large-top.png", alt="")
									.decor-large__bottom.decor-large-item
										img(src="images/decor/top-large-bottom.png", alt="")

									.profile-detail.box-bd


										.profile-detail__left
											.profile-detail__content.box-bd.text
												p
													| Хореограф 
													br
													| Постановщик 
													br
													| Вдохновитель 
													br
													| dance_school_megapir 
													br
													| МАМА 
													br
													| стиль ,мода ,еда ,путешествия
										.profile-detail__right
											.profile-detail__panel.box-bd
												ul.profile-detail__list
													li.box-bd Друзья: 432
													li.box-bd ФОТО: 123
													li.box-bd Видео: 63
												.profile-detail__image.profile-img
													span
														img(src="images/profile-detail.png", alt="")
											.profile-detail__bottom
												.profile-detail__bottom__inner
													h4.profile__detail__title.text-xl
														| Яна
														br
														| Прохорова
													.profile__detail__id
														| ID: 108932
													a(href="#").profile__detail__button.btn.btn-small
														| НАПИСАТЬ


									.message-panel
										//- .message-panel__inner
										.message-panel__bg
										.message-panel__left-bg
											img(src="images/corner/message-left-bg.svg", alt="")
										.message-panel__right-bg
											img(src="images/corner/message-right-bg.svg", alt="")

										input(type="text").message-panel__input.text-sm
										.message-panel__right
											ul.message-panel__icons
												li
													a(href="#")
														img(src="images/icon/smile.png", alt="")
												li
													a(href="#")
														img(src="images/icon/upload.png", alt="")
											button.btn.message-panel__btn
												| Отправить

					
						.comments
							.container_712
								.comment-lead.box-bd
									.comment-lead__heading
										.comment-lead__heading__left
											.profile-head
												.profile-head__image.profile-img
													span
														img(src="images/profile.jpg", alt="")
												h4.profile-head__title.text-sm
													| Яна Прохорова
										.comment-lead__heading__right
											.date.comment-lead__date
												| 24.10.19

									.comment-lead__body
										.comment-lead__content.text
											p
												| По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
												| некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст 
												| рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит 
												| советских времен.



										.message-panel.comment-lead__message-panel
											//- .message-panel__inner
											.message-panel__bg
											.message-panel__left-bg
												img(src="images/corner/message-left-bg.svg", alt="")
											.message-panel__right-bg
												img(src="images/corner/message-right-bg.svg", alt="")

											input(type="text").message-panel__input
											.message-panel__right
												ul.message-panel__icons
													li
														a(href="#")
															img(src="images/icon/smile.png", alt="")
													li
														a(href="#")
															img(src="images/icon/upload.png", alt="")
												button.btn.message-panel__btn
													| Отправить


								.comment-list
									.comment-box
										.comment-box__image.profile-img
											span
												img(src="images/profile.jpg", alt="")
										.comment-box__info.box-bd
											.comment-box__heading
												.comment-box__heading__left
													h4.comment-box__title.text-sm
														| Яна Прохорова
												.comment-box__heading__right
													.date.comment-box__date
														| 24.10.19
													//- a(href="#").close.comment-box__close
													//- 	| x
											.comment-box__body.text
												p
													| По своей сути рыбатекст является альтернативой традиционному lorem ipsum, 
													| который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. 
													| В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет 
													| непонятным смыслом и придаст неповторимый колорит советских времен.

									.comment-box
										.comment-box__image.profile-img
											span
												img(src="images/profile.jpg", alt="")
										.comment-box__info.box-bd
											.comment-box__heading
												.comment-box__heading__left
													h4.comment-box__title.text-sm
														| Яна Прохорова
												.comment-box__heading__right
													.date.comment-box__date
														| 24.10.19
													//- a(href="#").close.comment-box__close
													//- 	| x
											.comment-box__body.text
												p
													| По своей сути рыбатекст является альтернативой традиционному lorem ipsum, 
													| который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. 
													| В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет 
													| непонятным смыслом и придаст неповторимый колорит советских времен.

					.sidebar.right-sidebar
						.sidebar__inner
							.profiles-panel
								h3.profiles-panel__title.text-xl
									| Мои друзья
								.profiles-panel-list
									.profiles-panel-list__item
										.profile-panel
											.profile-panel__image.profile-img
												a(href="#")
													img(src="images/profile-detail.png", alt="")
											h4.profile-panel__title.text-xl
												a(href="#")
													| Яна Прохорова

									.profiles-panel-list__item
										.profile-panel
											.profile-panel__image.profile-img
												a(href="#")
													img(src="images/profile-detail.png", alt="")
											h4.profile-panel__title.text-xl
												a(href="#")
													| Яна Прохорова

									.profiles-panel-list__item
										.profile-panel
											.profile-panel__image.profile-img
												a(href="#")
													img(src="images/profile-detail.png", alt="")
											h4.profile-panel__title.text-xl
												a(href="#")
													| Яна Прохорова

									.profiles-panel-list__item
										.profile-panel
											.profile-panel__image.profile-img
												a(href="#")
													img(src="images/profile-detail.png", alt="")
											h4.profile-panel__title.text-xl
												a(href="#")
													| Яна Прохорова

									.profiles-panel-list__item
										.profile-panel
											.profile-panel__image.profile-img
												a(href="#")
													img(src="images/profile-detail.png", alt="")
											h4.profile-panel__title.text-xl
												a(href="#")
													| Яна Прохорова
								.profiles-panel__more.text-xl
									a(href="#")
										| Посмотреть всех


							.profiles-panel
								h3.profiles-panel__title.text-xl
									| Мои друзья
								.profiles-panel-list.profiles-panel-list_grid
									.profiles-panel-list__item
										.profile-panel
											.profile-panel__image.profile-img
												a(href="#")
													img(src="images/profile-detail.png", alt="")


									.profiles-panel-list__item
										.profile-panel
											.profile-panel__image.profile-img
												a(href="#")
													img(src="images/profile-detail.png", alt="")


									.profiles-panel-list__item
										.profile-panel
											.profile-panel__image.profile-img
												a(href="#")
													img(src="images/profile-detail.png", alt="")


									.profiles-panel-list__item
										.profile-panel
											.profile-panel__image.profile-img
												a(href="#")
													img(src="images/profile-detail.png", alt="")


									.profiles-panel-list__item
										.profile-panel
											.profile-panel__image.profile-img
												a(href="#")
													img(src="images/profile-detail.png", alt="")

								.profiles-panel__more.text-xl
									a(href="#")
										| Посмотреть всех


				.sidebars-mobile.row
					.col-6
						.sidebar-mob-panel.sidebar-mob_news.box-bd
							.sidebar-mob-toggle
								span
							.sidebar-mob-panel__inner
								.news-box.box-bd
									h3.news-box__title.text-md
										| МЕСЯЦ про аккаунта в подарок

									a(href="#").btn.btn-xl.news-box__btn
										| ПОДРОБНЕЕ

								.news-box.box-bd
									h3.news-box__title.text-md
										| НОВЫЙ ЛИДЕР
									a(href="#").btn.btn-xl.news-box__btn
										| ПОДРОБНЕЕ

								.news-box.box-bd
									h3.news-box__title.text-md
										| НОВЫЙ ЛИДЕР
									a(href="#").btn.btn-xl.news-box__btn
										| ПОДРОБНЕЕ

					.col-6
						.d-flex.justify-content-end
							.sidebar-mob-panel.sidebar-mob_profiles.profiles-mob.box-bd
								.sidebar-mob-toggle
									span
								.sidebar-mob-panel__inner
									h2.profiles-mob__title
										| Топ-Лидеры
									ul.profiles-mob__list
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
									.profiles-mob__view
										a(href="#")
											| Посмотреть всех



		include pug/footer    