extends pug/base

append vars
	-
		var activeGrid = new Array(10);

block content
	.main-wrap
		//- .site__layer
		include pug/header

		main.main
			.container-fluid
				.main-container.main-container_left-sidebar
					.sidebar.left-sidebar

							ul.category-nav
								li 
									a(href="#")
										span.icon
											img(src="images/icons/ico-1.png", srcset="images/icons/ico-1@2x.png 2x" alt="")
										span.link
											| Активация
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-2.png", srcset="images/icons/ico-2@2x.png 2x" alt="")
										span.link
											| Моя страница
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-3.png", srcset="images/icons/ico-3@2x.png 2x" alt="")
										a(href="#")
											| Новости
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-4.png", srcset="images/icons/ico-4@2x.png 2x" alt="")
										span.link
											| Сообщения
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-5.png", srcset="images/icons/ico-5@2x.png 2x" alt="")
										a(href="#")
											| Топ-Лидеры
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-6.png", srcset="images/icons/ico-6@2x.png 2x" alt="")
										span.link
											| Друзья

								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-7.png", srcset="images/icons/ico-7@2x.png 2x" alt="")
										span.link
											| Видеозаписи

								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-8.png", srcset="images/icons/ico-8@2x.png 2x" alt="")
										span.link
											| Фотогалерея
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-9.png", srcset="images/icons/ico-9@2x.png 2x" alt="")
										a(href="#")
											| Музыка
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-10.png", srcset="images/icons/ico-10@2x.png 2x" alt="")
										span.link
											| Развлечения
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-11.png", srcset="images/icons/ico-11@2x.png 2x" alt="")
										span.link
											| Реклама

								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-12.png", srcset="images/icons/ico-12@2x.png 2x" alt="")
										a(href="#")
											| Настройки
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-13.png", srcset="images/icons/ico-13@2x.png 2x" alt="")
										span.link
											| Support
								li
									a(href="#")
										span.icon
											img(src="images/icons/ico-14.png", srcset="images/icons/ico-14@2x.png 2x" alt="")
										span.link
											| Выход



							.news-panel
								h2.news-panel__title.text-md
									| Актуальные акции или важные новости:

								.news-panel__inner.panel
									.news-box.box-bd
										h3.news-box__title.text-md
											| МЕСЯЦ про аккаунта в подарок

										a(href="#").btn.btn-xl.news-box__btn
											| ПОДРОБНЕЕ

									.news-box.box-bd
										h3.news-box__title.text-md
											| НОВЫЙ ЛИДЕР
										a(href="#").btn.btn-xl.news-box__btn
											| ПОДРОБНЕЕ



					.main-content.main-content_center
						.lavels
							.row.lavels__row
								.col-md-6.lavels__col
		
										.lavel-box
											.lavel-box__line
												span

											.lavel-box__decor.lavel-box__decor_top
												img(src="images/lavel/panel-blue-decor.svg", alt="")
											.lavel-box__decor.lavel-box__decor_bottom
												img(src="images/lavel/panel-blue-decor.svg", alt="")

											h2.lavel-box__title
												| ACTIVATION
											.lavel-box__content
												p
													| Добро пожаловать на первый уровень Активации! 
													| Вы уже сделали свой первый шаг к успеху. С этого момента вы становитесь нашим 
													| пользователем, а значит мы начинаем платить вам за ваше время. Вы получаете 
													| пассивный доход и можете проводить время в Galileo в свое удовольствие.

											.lavel-box__btn__wrap
												a(href="#").btn.btn-xl.lavel-box__btn
													| Открыть

								.col-md-6.lavels__col
									
										.lavel-box.label-box_green
											.lavel-box__line
												span

											.lavel-box__decor.lavel-box__decor_top
												img(src="images/lavel/panel-green-decor.svg", alt="")
											.lavel-box__decor.lavel-box__decor_bottom
												img(src="images/lavel/panel-green-decor.svg", alt="")

											h2.lavel-box__title
												| POLYGON
											.lavel-box__content
												p
													| Поздравляем! Вы начинаете развивать свое сообщество и приглашать друзей! С этого 
													| момента каждый приглашенный вами друг будет приносить вам реальный доход! Все что 
													| вам нужно сделать для вашего успеха, это пригласить своих друзей и 
													| наслаждаться общением.

											.lavel-box__btn__wrap
												a(href="#").btn.btn-xl.lavel-box__btn
													| Открыть

								.col-md-6.lavels__col
									
										.lavel-box.label-box_red
											.lavel-box__line
												span

											.lavel-box__decor.lavel-box__decor_top
												img(src="images/lavel/panel-red-decor.svg", alt="")
											.lavel-box__decor.lavel-box__decor_bottom
												img(src="images/lavel/panel-red-decor.svg", alt="")

											h2.lavel-box__title
												| VIP
											.lavel-box__content
												p
													| Хочешь получить больше? Уровень VIP – только для тех, кто не боится больших 
													| доходов! Попадая на этот уровень, вы можете стать королём этой вселенной! 
													| Вы будете управлять не только своей компанией, но и получать с нее отличные 
													| дивиденды! VIP - подарит вам возможность получить: круизное 
													| VIP – путешествие, квартиру с техникой Galileo, Автомобиль и 100 000$! 
													| Переходите на уровень VIP И ЗАБЕРИТЕ СВОЕ ПО ПРАВУ!

											.lavel-box__btn__wrap
												a(href="#").btn.btn-xl.lavel-box__btn
													| Открыть




				.sidebars-mobile.row
					.col-6
						.sidebar-mob-panel.sidebar-mob_news.box-bd
							.sidebar-mob-toggle
								span
							.sidebar-mob-panel__inner
								.news-box.box-bd
									h3.news-box__title.text-md
										| МЕСЯЦ про аккаунта в подарок

									a(href="#").btn.btn-xl.news-box__btn
										| ПОДРОБНЕЕ

								.news-box.box-bd
									h3.news-box__title.text-md
										| НОВЫЙ ЛИДЕР
									a(href="#").btn.btn-xl.news-box__btn
										| ПОДРОБНЕЕ

								.news-box.box-bd
									h3.news-box__title.text-md
										| НОВЫЙ ЛИДЕР
									a(href="#").btn.btn-xl.news-box__btn
										| ПОДРОБНЕЕ

					.col-6
						.d-flex.justify-content-end
							.sidebar-mob-panel.sidebar-mob_profiles.profiles-mob.box-bd
								.sidebar-mob-toggle
									span
								.sidebar-mob-panel__inner
									h2.profiles-mob__title
										| Топ-Лидеры
									ul.profiles-mob__list
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
										li
											a(href="#")
												| Яна Прохорова
									.profiles-mob__view
										a(href="#")
											| Посмотреть всех


		include pug/footer    